<div class="cookie-policy-page">
  <h1>{{ 'COOKIESPAGE.TITLE' | translate }}</h1>
  <p>{{ 'COOKIESPAGE.POLICY_DESC' | translate }}</p>
  <h2>{{ 'COOKIESPAGE.PRIVACY_TITLE' | translate }}</h2>
  <h3>{{ 'COOKIESPAGE.INTRODUCTION_TITLE' | translate }}</h3>
  <p>{{ 'COOKIESPAGE.INTRODUCTION_DESC' | translate }}</p>
  <h3>{{ 'COOKIESPAGE.COLLECTION_TITLE' | translate }}</h3>
  <p>{{ 'COOKIESPAGE.PERSONAL_INFO_DESC' | translate }}</p>
  <p>{{ 'COOKIESPAGE.NON_PERSONAL_INFO_DESC' | translate }}</p>
  <h3>{{ 'COOKIESPAGE.USAGE_TITLE' | translate }}</h3>
  <p>{{ 'COOKIESPAGE.USAGE_DESC' | translate }}</p>
  <ul>
    <li>{{ 'COOKIESPAGE.COMMUNICATION' | translate }}</li>
    <li>{{ 'COOKIESPAGE.WEBSITE_IMPROVEMENT' | translate }}</li>
    <li>{{ 'COOKIESPAGE.MARKETING' | translate }}</li>
  </ul>
  <h3>{{ 'COOKIESPAGE.COOKIES_TITLE' | translate }}</h3>
  <p>{{ 'COOKIESPAGE.COOKIES_DESC' | translate }}</p>
  <h3>{{ 'COOKIESPAGE.SHARING_TITLE' | translate }}</h3>
  <p>{{ 'COOKIESPAGE.SHARING_DESC' | translate }}</p>
  <h3>{{ 'COOKIESPAGE.SECURITY_TITLE' | translate }}</h3>
  <p>{{ 'COOKIESPAGE.SECURITY_DESC' | translate }}</p>
  <h3>{{ 'COOKIESPAGE.LINKS_TITLE' | translate }}</h3>
  <p>{{ 'COOKIESPAGE.LINKS_DESC' | translate }}</p>
  <h3>{{ 'COOKIESPAGE.RIGHTS_TITLE' | translate }}</h3>
  <p>{{ 'COOKIESPAGE.RIGHTS_DESC' | translate }}</p>
  <h3>{{ 'COOKIESPAGE.PRIVACY_CHANGES_TITLE' | translate }}</h3>
  <p>{{ 'COOKIESPAGE.PRIVACY_CHANGES_DESC' | translate }}</p>
</div>
