<div #blogDetailContainer>
  <div *ngIf="isLoading" class="spinner-container">
    <div class="spinner"></div>
  </div>
  <!-- Botón de "Volver" -->
  <div class="back-button-container">
    <button
      (click)="goBack()"
      class="back-button h-full px-6 py-3 bg-gray-500 text-white rounded-lg shadow-lg hover:bg-gray-700 transform hover:scale-105 transition-all duration-300"
    >
      <i class="fas fa-arrow-left mr-2"></i> {{ 'SECCIONES.VOLVER' | translate }}
    </button>
  </div>
  <div *ngIf="currentRoute.includes('tfg')" class="button-container flex flex-col md:flex-row items-center justify-center space-y-4 md:space-y-0 md:space-x-4 mt-8">
    <button class="card social-icon btn-tfg bg-blue-500 hover:bg-blue-700 text-white font-bold py-3 px-6 rounded-lg shadow-lg transition-all duration-300 flex items-center space-x-2 transform hover:scale-105" (click)="openPdfViewer('tfg/TFG_AntonioSaborido.pdf', 'Trabajo Fin de Grado')">
      <i class="fas fa-file-alt"></i>
      <span class="social-icon-text">{{ 'TFG.POPUP' | translate }}</span>
    </button>
    <a href="https://github.com/Antoniiosc7/tp-tester" target="_blank" class="btn-tfg card social-icon bg-green-500 hover:bg-green-700 text-white font-bold py-3 px-6 rounded-lg shadow-lg transition-all duration-300 flex items-center space-x-2 transform hover:scale-105">
      <i class="fas fa-code-branch"></i>
      <span class="social-icon-text">{{ 'TFG.REPOSITORY' | translate }}</span>
    </a>
  </div>
  <div *ngIf="blog" class="blog-detail">
    <h1>{{ blog.title }}</h1>
    <img [src]="blog.imageUrl" alt="{{ blog.title }}">
    <div [innerHTML]="blog.content" class="blog-content"></div>
    <div class="blog-info">
      <p><strong>{{ 'SECCIONES.FILTERS.FECHA' | translate }}:</strong> {{ formattedDate }}</p>
      <p><strong>{{ 'SECCIONES.FILTERS.VISITAS' | translate }}:</strong> {{ blog.visitas }}</p>
    </div>

  </div>
</div>
