footer{
  margin-top: 30px;
}
.theme-toggle-btn {
  background-color: transparent; /* Fondo transparente */
  color: inherit; /* Hereda el color del texto del elemento padre */
  border: none; /* Sin bordes */
  padding: 0; /* Sin espaciado interno */
  cursor: pointer; /* Cursor en forma de mano */
}

.theme-toggle-btn i {
  font-size: 24px; /* Tamaño del icono */
}

.link-no-color:link,
.link-no-color:visited,
.link-no-color:hover,
.link-no-color:active {
  color: inherit; /* Esto hará que el enlace use el color de texto del elemento padre */
  text-decoration: none; /* Opcional: elimina el subrayado del enlace */
}
