<footer class="bg-gradient-to-r from-blue-500 via-blue-400 to-blue-600 text-center text-white py-8">
  <div class="mt-8 mx-auto max-w-4xl flex flex-col items-center md:items-start">
    <nav class="flex flex-col items-center md:flex-row md:justify-center gap-6 w-full">
      <a href="https://www.linkedin.com/in/antonio-saborido-campos-512343204/" target="_blank" class="p-4 text-blue-100 hover:text-blue-500 transition-all duration-300">
        <span class="text-base font-medium">LinkedIn</span>
      </a>
      <a href="https://github.com/Antoniiosc7" target="_blank" class="p-4 text-blue-100 hover:text-blue-500 transition-all duration-300">
        <span class="text-base font-medium">GitHub</span>
      </a>
      <a href="mailto:antonio.saborido01@gmail.com" class="p-4 text-blue-100 hover:text-blue-500 transition-all duration-300">
        <span class="text-base font-medium">antonio.saborido01&#64;gmail.com</span>
      </a>
    </nav>
    <p class="text-sm opacity-80 mt-4 md:mt-0 w-full text-center">&copy; 2024 Antonio Saborido</p>
  </div>
</footer>
