<header>
  <img src="assets/antonio.jpg" alt="Foto de Antonio" class="profile-pic">
  <h1>Bienvenid oa</h1>
  <h2>Ingeniero Informático Desarrollador Full Stack Situado en Andalucía, España.</h2>
  <p>Especializado en crear aplicaciones con las últimas tecnologías.</p>
  <div class="social-links">
    <a href="https://linkedin.com/in/antonio-saborido" target="_blank">LinkedIn</a>
    <a href="https://github.com/antonio-saborido" target="_blank">GitHub</a>
    <a href="mailto:antonio.saborido01@gmail.com">antonio.saborido01 arroba gmail.com</a>
    <a href="assets/CV.pdf" download>Descargar CV</a>
  </div>
</header>
