header {
  text-align: center;
}
.home-link {
  text-decoration: none; /* Elimina el subrayado */
  color: inherit; /* Mantiene el color original del texto */
}
.profile-pic {
  width: 100px; /* Ajusta según sea necesario */
  border-radius: 50%;
  margin-top: 20px;
  margin-bottom: -20px;
}

nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
h2 {
  font-size: 14px; /* Tamaño de la fuente para el nombre */
  margin-top: -15px;
  font-weight: normal
}
.social-icon {
  display: flex;
  align-items: center;
  margin: 10px;
  padding: 10px;
  border: 1px solid #007bff;
  border-radius: 10px;
  transition: all 0.3s ease;
  color: #007bff;
  text-decoration: none; /* Elimina el subrayado de los enlaces */
  flex: 1 1 auto; /* Ajusta esto según sea necesario para el espaciado */
}

.social-icon-text {
  margin-left: 8px; /* Espacio entre el icono y el texto */
  font-size: 14px; /* Tamaño de la tipografía */
  font-family: 'Arial', sans-serif; /* Tipo de fuente */
}

/* Puedes agregar aquí más estilos para personalizar la tipografía */
.social-icon:hover {
  background-color: #007bff; /* Color de fondo al pasar el ratón */
  color: #fff; /* Color de los iconos y texto al pasar el ratón */
}
.social-icon svg {
  fill: currentColor;
}
.social-icon {
  background-color: transparent; /* Ajusta esto al color deseado o déjalo transparente */
}
header {
  background-color: var(--background-color);
  color: var(--text-color);
}
/* Estilo base para el SVG */
svg {
  background-color: transparent; /* Asegura que el fondo sea transparente */
  border: none; /* Elimina el borde */
}

/* Estilo específico para el modo oscuro, ajusta según tu implementación */
.body-dark-mode svg {
  fill: #ffffff; /* Cambia el color del icono en modo oscuro */
}
.idiomas {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 10px;
  margin-right: 50px;
}
.idiomas img {
  width: 25px;
  height: auto;
}
.idiomas button {
  background: none;
  border: none;
  padding: 0;
  margin-right: 10px;
}

/* Asumiendo que las imágenes de las banderas ya tienen una clase o se les puede añadir una clase 'flag-icon' */
.flag-icon, .fas {
  width: 24px; /* Ajusta el ancho según sea necesario */
  height: 16px; /* Ajusta la altura según sea necesario */
  object-fit: cover; /* Asegura que la imagen se ajuste al contenedor sin perder sus proporciones */
}

/* Si los iconos de la luna/sol son más grandes o más pequeños de lo deseado, ajusta las dimensiones específicamente para ellos */
.fas.fa-sun, .fas.fa-moon {
  font-size: 16px; /* Ajusta el tamaño de la fuente para cambiar el tamaño de los iconos de FontAwesome */
}

.theme-toggle-btn{
  margin-top: -20px!important;
}
.oscuro {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 14px;
  margin-right: 20px;
}
.oscuro img {
  width: 25px;
  height: auto;
}
.oscuro button {
  background: none;
  border: none;
  padding: 0;
  margin-right: 10px;
}

