.timeline ul {
  list-style: none;
  padding: 0;
  position: relative;
}

.timeline-item {
  position: relative;
  width: 75%; /* Ajustar el ancho para dejar espacio a las fechas a la izquierda */
  padding: 20px;
  box-sizing: border-box;
  left: 7%; /* Ajustar para alinear correctamente con la línea y las fechas */
}
@media (max-width: 768px) {
  .timeline-item {
    width: 100%!important; /* Establece el ancho al 100% para pantallas pequeñas */
  }
}
.timeline-date {
  position: absolute;
  margin-left: 80px;
  margin-top: 12px;
  align-content: flex-start;
  transform: translateX(-50%);
  background: transparent;
  color: #007bff;
}

.timeline-content {
  padding: 20px;
  margin-top: 40px;
  background-color: #f9f9f9;
  border-radius: 4px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.1);
}
@media (max-width: 768px) {
  .timeline-content {
    margin-top: 70px;
  }
}
.timeline-content h3 {
  margin-top: 0;
}

.timeline ul::before {
  content: '';
  position: absolute;
  left: 3%; /* Mover la línea más a la izquierda */
  top: 0;
  bottom: 0;
  width: 2px;
  background: #d4d4d4;
}


.timeline-content {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 4px;
  margin-left: 0%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.1);
}

.timeline-content h3 {
  margin-top: 0;
}

.timeline-item::before {
  content: '';
  position: absolute;
  top: 30px;
  left: -3%; /* Alinear los puntos con las fechas, ajustar si es necesario */
  transform: translateX(-50%);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #007bff;
  border: 3px solid #fff;
}
