<div class="about-section">
  <h2>Sobre mí</h2>
  <p>👋 ¡Hola! Soy Antonio Saborido Campos, tengo 23 años y me considero un apasionado de la Informática, estoy comenzando en el ámbito laboral con mis prácticas como Desarrollador Full Stack en Babel.</p>
  <p>🎓 Mi formación académica en Ingeniería Informática en la Universidad de Sevilla me ha proporcionado una base sólida en la resolución de problemas, la programación y la gestión de proyectos. También durante mi formación he tenido la oportunidad de aprender tecnologías como Python, Node, PowerBI, Java, JavaScript, HTML, Docker, CSS y Haskell entre otras.</p>
  <p>💼 Actualmente, formo parte del equipo de Babel como Desarrollador Full Stack en prácticas, donde he tenido la oportunidad de aplicar mis conocimientos en tecnologías como Angular CLI en el desarrollo de aplicaciones web tanto en el front end como en back end con Spring Tools.</p>
  <p>💪 Mi determinación y entusiasmo por aprender y crecer en el campo de la informática me impulsan constantemente a buscar nuevas oportunidades.</p>
</div>
