<div #blogDetailContainer>
  <div *ngIf="isLoading" class="spinner-container">
    <div class="spinner"></div>
  </div>
  <!-- Contenedor para los botones en paralelo -->
  <div class="flex justify-between mt-6">
    <!-- Botón de "Ver repositorio" -->
    <div *ngIf="blog?.github" class="button-container">
      <button
        mat-button
        class="blue-button h-full px-6 py-3 text-white bg-blue-500 rounded-lg shadow-lg hover:bg-blue-700 transform hover:scale-105 transition-all duration-300"
        (click)="openRepo(blog?.github)"
      >
        <i class="fab fa-github mr-2"></i> {{ 'TFG.REPOSITORY' | translate }}
      </button>
    </div>
  </div>
  <!-- Botón de "Volver" -->
  <div class="back-button-container flex justify-end mt-4">
    <button
      (click)="goBack()"
      class="back-button h-full px-6 py-3 bg-gray-500 text-white rounded-lg shadow-lg hover:bg-gray-700 transform hover:scale-105 transition-all duration-300"
    >
      <i class="fas fa-arrow-left mr-2"></i> {{ 'SECCIONES.VOLVER' | translate }}
    </button>
  </div>
  <div *ngIf="blog" class="blog-detail">
    <h1><strong>{{ blog.title }}</strong></h1>
    <img [src]="blog.imageUrl" alt="{{ blog.title }}">
    <div [innerHTML]="blog.content" class="blog-content"></div>
    <div class="blog-info">
      <p><strong>{{ 'SECCIONES.FILTERS.FECHA' | translate }}:</strong> {{ formattedDate }}</p>
      <p><strong>{{ 'SECCIONES.FILTERS.VISITAS' | translate }}:</strong> {{ blog.visitas }}</p>
    </div>
  </div>
</div>
