<body>
  <div *ngIf="projectName === 'tfg' || projectName === '<strong>TRABAJO FIN DE GRADO</strong> - Modelado y Prueba de TPAs en el marco de DORA'">

    <h2>{{ 'TFG.TITLE' | translate }}
    </h2>
    <div class="button-container">
      <button class="card social-icon btn-tfg" (click)="openPdfViewer('tfg/TFG_AntonioSaborido.pdf', 'Trabajo Fin de Grado')">
        <i class="fas fa-file-alt" style="margin-right: 8px;"></i><span class="social-icon-text">{{ 'TFG.POPUP' | translate }}</span>
      </button>
      <a href="https://github.com/Antoniiosc7/tp-tester" target="_blank" class="btn-tfg card social-icon">
        <i class="fas fa-code-branch" style="margin-right: 8px;"></i> <span class="social-icon-text">{{ 'TFG.REPOSITORY' | translate }}</span>
      </a>
    </div>
    <h3> {{ 'TFG.INTRO' | translate }} </h3>
    <p>{{ 'TFG.INTRO1' | translate }}</p>

    <p>{{ 'TFG.INTRO2' | translate }}</p>

    <p>{{ 'TFG.INTRO3' | translate }}</p>

    <p>{{ 'TFG.INTRO4' | translate }}</p>

    <p>{{ 'TFG.INTRO5' | translate }}</p>

    <p>{{ 'TFG.INTRO6' | translate }}</p>

    <p>{{ 'TFG.INTRO7' | translate }}</p>

    <p>{{ 'TFG.INTRO8' | translate }}</p>

    <p>{{ 'TFG.INTRO9' | translate }}</p>
    <h3> {{ 'TFG.RESEARCH' | translate }} </h3>
    <p>{{ 'TFG.RESEARCH1' | translate }}</p>

    <p>{{ 'TFG.RESEARCH2' | translate }}</p>
    <div class="image-container">
      <img src="/assets/imagenes/tfg/grafico-soporte.png" id="imagen1" alt="Gráfico Soporte Grafana">
      <img src="/assets/imagenes/tfg/tabla soporte grafana.png" alt="Tabla Soporte Grafana">
    </div>
    <p>{{ 'TFG.RESEARCH3' | translate }}</p>
    <section>
      <h3>{{ 'TFG.PROJECTSTRUCTURE' | translate }} </h3>
      <p>{{ 'TFG.PROJECTSTRUCTURE1' | translate }}</p>
      <div class="image-center">
        <img src="/assets/imagenes/tfg/estructura-servicio.png" alt="Estructura">
      </div>
      <h4>{{ 'TFG.PROJECTSTRUCTURE2' | translate }}</h4>
      <ul>
        <li>{{ 'TFG.PROJECTSTRUCTURE3' | translate }}</li>
        <li>{{ 'TFG.PROJECTSTRUCTURE4' | translate }}</li>
        <li>{{ 'TFG.PROJECTSTRUCTURE5' | translate }}</li>
        <li>{{ 'TFG.PROJECTSTRUCTURE6' | translate }}</li>
      </ul>
      <h4>{{ 'TFG.PROJECTSTRUCTURE7' | translate }}</h4>
      <ul>
        <li>{{ 'TFG.PROJECTSTRUCTURE8' | translate }}</li>
        <li>{{ 'TFG.PROJECTSTRUCTURE9' | translate }}</li>
        <li>{{ 'TFG.PROJECTSTRUCTURE10' | translate }}</li>
      </ul>
      <p>{{ 'TFG.PROJECTSTRUCTURE11' | translate }}</p>
    </section>
    <h3>{{ 'TFG.PAGESSTRUCTURE' | translate }}</h3>
    <img src="/assets/imagenes/tfg/Estructura.png" alt="Gráfico Soporte Grafana">
    <section>
      <h4>{{ 'TFG.PAGESSTRUCTURE12' | translate }}</h4>
      <p>{{ 'TFG.PAGESSTRUCTURE2' | translate }}</p>

    </section>

    <section>
      <h4>{{ 'TFG.PAGESSTRUCTURE3' | translate }}</h4>
      <p>{{ 'TFG.PAGESSTRUCTURE4' | translate }}</p>
      <img src="/assets/imagenes/tfg/Imagen2.png" alt="Testing metricas" class="full-width-image">

      <h5>{{ 'TFG.PAGESSTRUCTURE5' | translate }}</h5>
      <p>{{ 'TFG.PAGESSTRUCTURE6' | translate }}</p>
    </section>

    <section>
      <h4>{{ 'TFG.PAGESSTRUCTURE7' | translate }}</h4>
      <p>{{ 'TFG.PAGESSTRUCTURE8' | translate }}</p>
      <h5>{{ 'TFG.PAGESSTRUCTURE9' | translate }}</h5>
      <p>{{ 'TFG.PAGESSTRUCTURE10' | translate }}</p>
      <h5>{{ 'TFG.PAGESSTRUCTURE11' | translate }}</h5>
      <p>{{ 'TFG.PAGESSTRUCTURE12' | translate }}</p>
    </section>

    <section>
      <h4>{{ 'TFG.PAGESSTRUCTURE13' | translate }}</h4>
      <p>{{ 'TFG.PAGESSTRUCTURE14' | translate }}</p>
      <img src="/assets/imagenes/tfg/Imagen3.png" alt="Testing automatico" class="full-width-image">
    </section>

    <section>
      <h4>{{ 'TFG.PAGESSTRUCTURE15' | translate }}</h4>
      <p>{{ 'TFG.PAGESSTRUCTURE16' | translate }}</p>
    </section>

    <section>
      <h4>{{ 'TFG.PAGESSTRUCTURE17' | translate }}</h4>
      <p>{{ 'TFG.PAGESSTRUCTURE18' | translate }}</p>
    </section>
    <p>{{ 'TFG.PAGESSTRUCTURE19' | translate }}</p>
  </div>



  <div *ngIf="projectName === 'Jump Marius'">
    <h2>{{ 'JUMP_MARIUS.TITLE' | translate }}</h2>
    <div class="button-container">
      <a href="https://github.com/Antoniiosc7/JumpMarius" target="_blank" class="btn-tfg card social-icon">
        <i class="fas fa-code-branch" style="margin-right: 8px;"></i> <span class="social-icon-text">{{ 'TFG.REPOSITORY' | translate }}</span>
      </a>
    </div>
    <div style="text-align: center;">
      <img src="/assets/imagenes/jump-marius/logo.png" width="43%">
    </div>
    <p>{{ 'JUMP_MARIUS.DESCRIPTION' | translate }}</p>

    <h4>{{ 'JUMP_MARIUS.VERSION' | translate }}</h4>
    <h5>{{ 'JUMP_MARIUS.RELEASE_NOTES' | translate }}</h5>
    <ul>
      <li>{{ 'JUMP_MARIUS.NEW_WORLDS' | translate }}</li>
      <li>{{ 'JUMP_MARIUS.CHARACTER_SELECTION' | translate }}
        <div style="text-align: center;">
          <img src="/assets/imagenes/jump-marius/characterSelector.png" width="50%">
        </div>
      </li>
      <li>{{ 'JUMP_MARIUS.GRAPHIC_IMPROVEMENTS' | translate }}</li>
      <li>{{ 'JUMP_MARIUS.NEW_TILESETS' | translate }}</li>
      <li>{{ 'JUMP_MARIUS.LAUNCHER' | translate }}
        <div style="text-align: center;">
          <img src="/assets/imagenes/jump-marius/launcher.png" width="23%">
        </div>
      </li>
      <li>{{ 'JUMP_MARIUS.CONFIGURATION_MENU' | translate }}</li>
      <li>{{ 'JUMP_MARIUS.FINAL_BLOCK' | translate }}
        <div style="text-align: center;">
          <img src="/assets/imagenes/jump-marius/bloqueFinal.png" width="50%">
        </div>
      </li>
      <li>{{ 'JUMP_MARIUS.STARTUP_SCRIPT' | translate }}</li>
    </ul>

    <h5>{{ 'JUMP_MARIUS.TODO_LIST' | translate }}</h5>
    <ul>
      <li *ngFor="let item of ('JUMP_MARIUS.TODO_ITEMS' | translate)">{{ item }}</li>
    </ul>

    <h5>{{ 'JUMP_MARIUS.BUGS' | translate }}</h5>
    <ul>
      <li *ngFor="let item of ('JUMP_MARIUS.BUG_ITEMS' | translate)">{{ item }}</li>
    </ul>

    <h5>{{ 'JUMP_MARIUS.COLLABORATORS' | translate }}</h5>
    <p>{{ 'JUMP_MARIUS.COLLABORATION_DESC' | translate }}</p>

    <h5>{{ 'JUMP_MARIUS.CREDITS' | translate }}</h5>
    <ul>
      <li *ngFor="let item of ('JUMP_MARIUS.CREDITS_ITEMS' | translate)"><a href="{{ item }}">{{ item }}</a></li>
    </ul>
  </div>
</body>
