<body>
  <div *ngIf="projectName === 'tfg' || projectName === '<strong>TRABAJO FIN DE GRADO</strong> - Modelado y Prueba de TPAs en el marco de DORA'">

    <h2>{{ 'TFG.TITLE' | translate }}
    </h2>
    <div class="button-container">
      <button class="card social-icon btn-tfg" (click)="openPdfViewer('tfg/TFG_AntonioSaborido.pdf', 'Trabajo Fin de Grado')">
        <i class="fas fa-file-alt" style="margin-right: 8px;"></i><span class="social-icon-text">{{ 'TFG.POPUP' | translate }}</span>
      </button>
      <a href="https://github.com/Antoniiosc7/tp-tester" target="_blank" class="btn-tfg card social-icon">
        <i class="fas fa-code-branch" style="margin-right: 8px;"></i> <span class="social-icon-text">{{ 'TFG.REPOSITORY' | translate }}</span>
      </a>
    </div>
    <h3> {{ 'TFG.INTRO' | translate }} </h3>
    <p>{{ 'TFG.INTRO1' | translate }}</p>

    <p>{{ 'TFG.INTRO2' | translate }}</p>

    <p>{{ 'TFG.INTRO3' | translate }}</p>

    <p>{{ 'TFG.INTRO4' | translate }}</p>

    <p>{{ 'TFG.INTRO5' | translate }}</p>

    <p>{{ 'TFG.INTRO6' | translate }}</p>

    <p>{{ 'TFG.INTRO7' | translate }}</p>

    <p>{{ 'TFG.INTRO8' | translate }}</p>

    <p>{{ 'TFG.INTRO9' | translate }}</p>
    <h3> {{ 'TFG.RESEARCH' | translate }} </h3>
    <p>{{ 'TFG.RESEARCH1' | translate }}</p>

    <p>{{ 'TFG.RESEARCH2' | translate }}</p>
    <div class="image-container">
      <img src="/assets/imagenes/tfg/grafico-soporte.png" id="imagen1" alt="Gráfico Soporte Grafana">
      <img src="/assets/imagenes/tfg/tabla soporte grafana.png" alt="Tabla Soporte Grafana">
    </div>
    <p>{{ 'TFG.RESEARCH3' | translate }}</p>
    <section>
      <h3>{{ 'TFG.PROJECTSTRUCTURE' | translate }} </h3>
      <p>{{ 'TFG.PROJECTSTRUCTURE1' | translate }}</p>
      <div class="image-center">
        <img src="/assets/imagenes/tfg/estructura-servicio.png" alt="Estructura">
      </div>
      <h4>{{ 'TFG.PROJECTSTRUCTURE2' | translate }}</h4>
      <ul>
        <li>{{ 'TFG.PROJECTSTRUCTURE3' | translate }}</li>
        <li>{{ 'TFG.PROJECTSTRUCTURE4' | translate }}</li>
        <li>{{ 'TFG.PROJECTSTRUCTURE5' | translate }}</li>
        <li>{{ 'TFG.PROJECTSTRUCTURE6' | translate }}</li>
      </ul>
      <h4>{{ 'TFG.PROJECTSTRUCTURE7' | translate }}</h4>
      <ul>
        <li>{{ 'TFG.PROJECTSTRUCTURE8' | translate }}</li>
        <li>{{ 'TFG.PROJECTSTRUCTURE9' | translate }}</li>
        <li>{{ 'TFG.PROJECTSTRUCTURE10' | translate }}</li>
      </ul>
      <p>{{ 'TFG.PROJECTSTRUCTURE11' | translate }}</p>
    </section>
    <h3>{{ 'TFG.PAGESSTRUCTURE' | translate }}</h3>
    <img src="/assets/imagenes/tfg/Estructura.png" alt="Gráfico Soporte Grafana">
    <section>
      <h4>{{ 'TFG.PAGESSTRUCTURE12' | translate }}</h4>
      <p>{{ 'TFG.PAGESSTRUCTURE2' | translate }}</p>

    </section>

    <section>
      <h4>{{ 'TFG.PAGESSTRUCTURE3' | translate }}</h4>
      <p>{{ 'TFG.PAGESSTRUCTURE4' | translate }}</p>
      <img src="/assets/imagenes/tfg/Imagen2.png" alt="Testing metricas" class="full-width-image">

      <h5>{{ 'TFG.PAGESSTRUCTURE5' | translate }}</h5>
      <p>{{ 'TFG.PAGESSTRUCTURE6' | translate }}</p>
    </section>

    <section>
      <h4>{{ 'TFG.PAGESSTRUCTURE7' | translate }}</h4>
      <p>{{ 'TFG.PAGESSTRUCTURE8' | translate }}</p>
      <h5>{{ 'TFG.PAGESSTRUCTURE9' | translate }}</h5>
      <p>{{ 'TFG.PAGESSTRUCTURE10' | translate }}</p>
      <h5>{{ 'TFG.PAGESSTRUCTURE11' | translate }}</h5>
      <p>{{ 'TFG.PAGESSTRUCTURE12' | translate }}</p>
    </section>

    <section>
      <h4>{{ 'TFG.PAGESSTRUCTURE13' | translate }}</h4>
      <p>{{ 'TFG.PAGESSTRUCTURE14' | translate }}</p>
      <img src="/assets/imagenes/tfg/Imagen3.png" alt="Testing automatico" class="full-width-image">
    </section>

    <section>
      <h4>{{ 'TFG.PAGESSTRUCTURE15' | translate }}</h4>
      <p>{{ 'TFG.PAGESSTRUCTURE16' | translate }}</p>
    </section>

    <section>
      <h4>{{ 'TFG.PAGESSTRUCTURE17' | translate }}</h4>
      <p>{{ 'TFG.PAGESSTRUCTURE18' | translate }}</p>
    </section>
    <p>{{ 'TFG.PAGESSTRUCTURE19' | translate }}</p>
  </div>



  <div *ngIf="projectName === 'Jump Marius'">
    <h2>JUMP MARIUS</h2>
    <div class="button-container">
      <a href="https://github.com/Antoniiosc7/JumpMarius" target="_blank" class="btn-tfg card social-icon">
        <i class="fas fa-code-branch" style="margin-right: 8px;"></i> <span class="social-icon-text">Ver Repositorio</span>
      </a>
    </div>
    <div style="text-align: center;">
      <img src="/assets/imagenes/jump-marius/logo.png" width="43%">
    </div>
    <p>Jump Marius es un emocionante juego de plataformas creado con Pygame. Únete a Marius en un emocionante viaje a través de diversos niveles llenos de desafíos, enemigos y paisajes impresionantes.</p>

    <h4><strong>Versión:</strong> 1.0.0</h4>
    <h5>Notas de la Versión:</h5>
    <ul>
      <li><strong>Nuevos Mundos:</strong> Ahora, el editor permite guardar directamente el mundo en la carpeta correcta y antes de iniciar cada partida se puede seleccionar en qué mundo comenzar la partida, además que el editor ya contiene nuevos bloques para que crear estos mundos.</li>
      <li><strong>Menú de selección de personajes:</strong> Implementado un nuevo menú que permite elegir entre 3 de los personajes que se encuentran en el juego.
        <div style="text-align: center;">
          <img src="/assets/imagenes/jump-marius/characterSelector.png" width="50%">
        </div>
      </li>
      <li><strong>Mejoras Gráficas:</strong> Implementación de los nuevos personajes aunque aún con bugs en la renderización de los mismos dentro de juego.</li>
      <li><strong>Nuevos Tilesets:</strong> Implementado en el editor 2 nuevos tilesets para poder crear mapas con nuevos bloques.</li>
      <li><strong>Launcher:</strong> Está creado el launcher que permitirá que tras loguearte se inicie el juego aunque aún no se pueden registrar usuarios y el único usuario es "user" y la contraseña "password."
        <div style="text-align: center;">
          <img src="/assets/imagenes/jump-marius/launcher.png" width="23%">
        </div>
      </li>
      <li><strong>Menú de Configuración:</strong> Nuevo menú de configuración que por el momento solo permite cambiar las dimensiones del juego.</li>
      <li><strong>Bloque Final:</strong> Hasta ahora, el juego no tenía final; en esta versión, el juego se acabará al tocar un bloque llamado "final," creado como ejemplo o al tocar el palo de la bandera.
        <div style="text-align: center;">
          <img src="/assets/imagenes/jump-marius/bloqueFinal.png" width="50%">
        </div>
      </li>
      <li><strong>Script de inicio:</strong> Añadido el ejecutable "JumpMarius.bat" que ejecuta el juego directamente.</li>
    </ul>

    <h5>To-Do List:</h5>
    <ul>
      <li>Correcto funcionamiento del launcher y todas sus funcionalidades.</li>
      <li>Implementar más niveles y desafíos.</li>
      <li>Añadir opciones de configuración avanzada.</li>
      <li>Mejorar la interfaz de usuario.</li>
      <li>Añadir al menú de configuración la opción de idioma y que el idioma se cambie automáticamente en todos los menús al cambiarlo.</li>
    </ul>

    <h5>Bugs:</h5>
    <ul>
      <li>Mala hitbox del personaje principal.</li>
      <li>Los menús secundarios no funcionan correctamente; se queda de fondo la opción que no está marcada.</li>
    </ul>

    <h5>Colaboradores:</h5>
    <p>Cualquier persona puede colaborar y abrir su pull request para contribuir al desarrollo de Jump Marius. ¡Tu ayuda es bienvenida!</p>

    <h5>Créditos:</h5>
    <ul>
      <li>Introducción a Pygame y primeras funcionalidades del juego: <a href="https://twitter.com/DaFluffyPotato">&#64;DaFluffyPotato</a></li>
      <li>Nuevos tilesets: <a href="https://www.kenney.nl">Kenney</a></li>
    </ul>


  </div>
</body>
