<h2>{{ 'EDUCATION.TITLE' | translate }}</h2>

<div class="timeline">
  <ul>
    <li *ngFor="let item of ('EDUCATION.TIMELINE' | translate)" class="timeline-item">
      <div class="timeline-date">{{ item.DATE }}</div>
      <div class="timeline-content">
        <div class="content-text">
          <h3>{{ item.TITLE }}</h3>
          <p>{{ item.DESCRIPTION }}</p>
        </div>
        <button *ngIf="item.pdfUrl" class="open-pdf-button" (click)="openPdfViewer(item.pdfUrl, item.pdfName)">
          <i class="fas fa-external-link-alt"></i>
        </button>
      </div>
    </li>
  </ul>
</div>
