<h2>{{ 'PROJECTS.TITLE' | translate }}</h2>

<div class="project-container">
  <ul class="project-list">
    <li *ngFor="let project of ('PROJECTS.LIST' | translate)" class="project-item">
      <mat-card class="project-card">
        <mat-card-header>
          <mat-card-title [innerHTML]="project.TITLE">{{ project.TITLE }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>{{ project.DESCRIPTION }}</p>
        </mat-card-content>
        <mat-card-actions *ngIf="project.LINKS">

          <button mat-button class="blue-button" [routerLink]="['/proyectos', project.TITLE]">
            Ver más
          </button>
          <button mat-button *ngIf="project.REPO_URL" (click)="openRepo(project.REPO_URL)">
            <i class="fab fa-github"></i> Ver Repositorio
          </button>
        </mat-card-actions>
      </mat-card>
    </li>
  </ul>
</div>
