<h2>{{ 'PROJECTS.TITLE' | translate }}</h2>

<div class="project-container">
  <ul class="project-list">
    <li *ngFor="let project of ('PROJECTS.LIST' | translate)" class="project-item">
      <mat-card class="project-card">
        <mat-card-header>
          <mat-card-title [innerHTML]="project.TITLE">{{ project.TITLE }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>{{ project.DESCRIPTION }}</p>
        </mat-card-content>
        <mat-card-actions class="button-container">
          <button mat-button *ngIf="project.LINKS && !project.IS_TFG" class="blue-button button-item" (click)="scrollToTopAndNavigate(['/proyectos', project.TITLE])">
            Ver más
          </button>
          <button mat-button *ngIf="project.LINKS && project.IS_TFG" class="blue-button button-item" (click)="scrollToTopAndNavigate(['/proyectos', 'tfg'])">
            Ver más
          </button>
          <button mat-button *ngIf="project.DEMO_URL" class="green-button button-item" (click)="openRepo(project.DEMO_URL)">
            {{ 'PROJECTS.DEMO' | translate }}
          </button>
          <button mat-button *ngIf="project.REPO_URL" class="button-item" (click)="openRepo(project.REPO_URL)">
            <i class="fab fa-github"></i> {{ 'TFG.REPOSITORY' | translate }}
          </button>
        </mat-card-actions>
      </mat-card>
    </li>
  </ul>
</div>
