@import '@angular/material/prebuilt-themes/indigo-pink.css';
@tailwind base;
@tailwind components;
@tailwind utilities;
/* styles.css */

/*
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

header {
  text-align: center;
  padding: 50px 0;
  background-color: #343a40;
  color: #fff;
}

header .profile-pic {
  width: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
}

header h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

header h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

header p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

header .social-links a {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
}

header .social-links a:hover {
  text-decoration: underline;
}

section {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  font-size: 1.2em;
  margin-bottom: 10px;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #343a40;
  color: #fff;
  border-radius: 5px;
}
*/
/* Para aplicar la fuente de manera global */



::ng-deep .blog-content ul {
  list-style-type: disc;
  margin-left: 20px;
}

::ng-deep .blog-content ul ul {
  list-style-type: circle;
  margin-left: 20px;
}

::ng-deep .blog-content ul ul ul {
  list-style-type: square;
  margin-left: 20px;
}

::ng-deep .blog-content li {
  margin-bottom: 10px;
}
