/*
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

header {
  text-align: center;
  padding: 50px 0;
  background-color: #343a40;
  color: #fff;
}

header .profile-pic {
  width: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
}

header h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

header h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

header p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

header .social-links a {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
}

header .social-links a:hover {
  text-decoration: underline;
}

section {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  font-size: 1.2em;
  margin-bottom: 10px;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #343a40;
  color: #fff;
  border-radius: 5px;
}
*/
/* Para aplicar la fuente de manera global */
body {
  font-family: 'Roboto', sans-serif;
}

/* O solo para el componente de cabecera en header.component.css */
header, .social-icon-text {
  font-family: 'Roboto', sans-serif;
}

/* Colores para el modo claro */
:root {
  --background-color: #fff;
  --text-color: #000;
}

/* Colores para el modo oscuro */
[data-theme="dark"] {
  --background-color: #343a40;
  --text-color: #fff;
}

[data-theme="dark"] .timeline-content {
  background-color: #333!important; /* Fondo más oscuro para el contenido de la línea de tiempo */
  color: #fff; /* Texto en blanco para mejorar la legibilidad */
  box-shadow: 0 3px 6px rgba(255,255,255,0.1); /* Sombra más clara para el modo oscuro */
}
html, body {
  margin: 0;
  padding: 0;
}


